
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(BackGround/Copilot_20250608_205110.png);
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid #746730c9;
    border-radius: 15px;
    padding: 20px 70px 10px 70px;
    backdrop-filter: blur(16px);
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 340px;
    max-height: 340px;
}

.input {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 30px 0;
}

.input i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

.input input{
    width: 100%;
    height: 100%;
    border: 1px solid #746730c9;
    border-radius: 30px;
    background-color: #333333a8;
    color: #ffffff;
    outline: none;
    transition-duration: 0.5s;
    padding-left: 10px;
    
}

.input input::placeholder {
    color: #ffffff81;
}

.input input:hover {
    border-radius: 10px;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.forgot a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    transition-duration: 0.3s;
}

.forgot a:hover {
    font-size: 13.4px;
}

.forgot label {
    display: flex;
    color: #fff;
    font-size: 14px;
}

.forgot input {
    cursor: pointer;
}

.forgot label p {
    margin-left: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login #btnLogin {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #A67C52;
    font-size: 20px;
    background-color: #A67C52;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    transition: ease-in-out 0.7s;
}

.login #btnLogin:hover {
     background-color: transparent;
     border: 2px solid  rgba(255, 255, 255, .2);
     color: #ffffff77;
     border-radius: 50px;
}

.login #btnLogin:active {
    transition-duration: 0.1s;
    background-color: #A67C52;
}

.login p {
    color: #fff;
    font-size:13px ;
}

.login a {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.8s;
    font-size: 13px;
}

.login a:hover {
    font-size: 12px;
}


/*////////////JavaScript/////////////*/

.noticeWrongEmail {
    font-size: 12.8px;
    font-weight: 500;
    padding-left: 10px; 
    padding-top: 2px;
    color: red;
    display: none;
}

.noticeFillEmail {
    font-size: 12.8px;
    font-weight: 500;
    padding-left: 10px; 
    padding-top: 2px;
    color: red;
    display: none;
}

.noticeWrongPassword {
    font-size: 12.8px;
    font-weight: 500;
    padding-left: 10px; 
    padding-top: 2px;
    color: red;
    display: none;
}

.noticeFillPassword {
    font-size: 12.8px;
    font-weight: 500;
    padding-left: 10px; 
    padding-top: 2px;
    color: red;
    display: none;
}